@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi All - Welcome To World Of MS Azure IAAS service VM</h1>
    <p>Learn about <a href="#">Azure Deployment Center</a>.</p>

    <h3>Azure App Setting Value:</h3>
    <p><strong>@Model.MyCustomSetting</strong></p>
</div>
